body {
    font-family: "Roboto" sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.header {
    background-color: #FFFFFF;
}

.title {
    background-color: #2E2F42;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.btn {
    font-family: "Roboto", sans-serif;
    background-color:#4D5AE5;
    color: #FFFFFF;  
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    cursor: pointer;
}

.team {
    background-color:#F4F4FD ;
}
footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none; 
}

.logo-accent {
    color: #2e2f42;
}

h2 {
    font-family: "Raleway", sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
letter-spacing: 0.02em;
color: #434455;
}

.nav {
    color:#2E2F42 ;
}

.address-link,.nav,.logo {
    text-decoration: none;
}


.link {
    color:#434455 ;
    text-decoration: none;
    font-style: normal;
}

.nav .link:hover,
 .nav .link:focus {
color: #4D5AE5;
}

.address-link .link:hover,
.address-link .link:focus {
    color: #4D5AE5;
}

.btn:hover,
.btn:focus {
 background-color: #404BBF;
}

.logo:hover, 
.logo:focus {
    color: #4D5AE5;
}